.alt-header {
  color: green;
}

.is-confirmed{
    color: #f44336;
    margin-bottom: 1rem
}

.is-active{
    color: #3f51b5;
    margin-bottom: 1rem
}

.is-recovered{
    color: #009688;
    margin-bottom: 1rem
}

.is-deceased{
    color: #6c757d;
    margin-bottom: 1rem
}

.is-confirmed-blur{
    color: #ff073a99;
}

.is-active-blur{
    color: #007bff99;
}

.is-recovered-blur{
    color: #28a74599;
}

.is-deceased-blur{
    color: #6c757d99;
}

.small-text{
    font-size: 0.8rem;
}