.alt-header {
  color: green;
}

.is-confirmed{
    color: #ff073a;
}

.is-active{
    color: #007bff;
}

.is-recovered{
    color: #28a745;
}

.is-deceased{
    color: #6c757d;
}

.is-confirmed-blur{
    color: #ff073a99;
}

.is-active-blur{
    color: #007bff99;
}

.is-recovered-blur{
    color: #28a74599;
}

.is-deceased-blur{
    color: #6c757d99;
}

.small-text{
    font-size: 0.8rem;
}